
/*
.toto {
  @include dib();
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  margin-top: 10px;
  padding-top: 10px;
  border: 1px solid yellow;
  font-size: 10px;
  color: blue;
  background: #ffffff url('img/toto.png') top center no-repeat;
}
*/

@import
"compass/css3",
"compass/reset",
"mixins";

//@include font-face("la_chatte_a_mamanregular", font-files("fonts/la_chatte_a_maman-webfont.eot", "fonts/la_chatte_a_maman-webfont.svg","fonts/la_chatte_a_maman-webfont.ttf","fonts/la_chatte_a_maman-webfont.woff","fonts/la_chatte_a_maman-webfont.woff2"));
@font-face {
    font-family: 'la_chatte_a_mamanregular';
    src: url('fonts/la_chatte_a_maman-webfont.eot');
    src: url('fonts/la_chatte_a_maman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/la_chatte_a_maman-webfont.woff2') format('woff2'),
         url('fonts/la_chatte_a_maman-webfont.woff') format('woff'),
         url('fonts/la_chatte_a_maman-webfont.ttf') format('truetype'),
         url('fonts/la_chatte_a_maman-webfont.svg#la_chatte_a_mamanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


$gold : #DAA520;
$red : #991903;
$white : #FFFFFF;
$grey : #AAAAAA;
$grey_light : #EEEEEE;

// assume min-width (by default) if only a number
$high-tide: 500px;
// set min-width/max-width if both values are numbers
$ex-presidents: 600px 800px;
// if one value is a string, assume a feature/value pair
$surfboard-width: max-width 1000px;
// string tests together within parentheses, assume each item is a feature value pair
$surfboard-height: (min-height 1000px) (orientation portrait);

.center{
  display: block;
  margin: 0 auto;
}

.error{
  display: block;
  background-color:$red;
  padding: 5px;
  color:$gold;
}

html{
  height: 100%;
  background-color: $white;

  button:focus {
    outline: 0;
  }
}

body {
  height: 100%;
}

header {
  position: relative;
  width: 100%;
  padding: 1% 0%;
  text-align: center;
  background-color: $red;
  border-bottom: 3px solid $gold;

  h1 {
    font-family: "la_chatte_a_mamanregular";
    color: $white;
    font-size: 7vw;
  }
}



.content {
  position: relative;
  width: 95%;
  margin: 5% auto 0;

  section {
    display: inline-block;
    *display:inline;zoom:1;
    vertical-align: top;
    z-index: 10;
  }
}

.leftSide {
  width: 37%;
  border: 3px solid $gold;
  border-bottom: 0;
  font-family: 'Architects Daughter', cursive;

  form {
    position: relative;

    input[type=text] {
      width: 97%;
      height: 27px;
      padding: 3% 0 3% 3%;
      border-bottom: 3px solid $gold;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      text-transform: capitalize;
      font-family: 'Architects Daughter', cursive;
      font-size: 1.3vw;
      color: $red;

      &:focus {
        outline: none;
      }
    }

    input[type=submit] {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 25%;
      background-color: $gold;
      border: none;
      cursor: pointer;
      font-family: 'Architects Daughter', cursive;
      font-size: 1.7vw;
      color:$red;
    }
  }

  .list {
    background-color: $white;

    h3 {
      padding: 3%;
      font-size: 1.5vw;
      color: $gold;
      background-color: $red;
    }

    li {
      position: relative;
      padding: 2% 2% 2% 60px;
      border-bottom: 3px solid $gold;
      background:transparent url('../image/gift_unactive.png') 17px center no-repeat;

      p{
        display: inline-block;
      }

      .userName {
        margin-left: 5%;
        font-size: 1.5vw;
        color: $grey;
        text-transform: capitalize;
      }

      &.active{
        background:transparent url('../image/gift_active.png') 5% center no-repeat;

        .userName {
          color: $gold;
        }
      }

    }

    .removeUser{
      @include border-radius(30px, 30px);
      position: relative;
      width: 30px;
      height: 30px;
      background-color: $red;
      cursor: pointer;
      vertical-align: bottom;
    }

    .cross{
        display: block;
        width: 6px;
        height: 20px;
        margin-top: 5px;
        margin-left: 12px;
        background-color: $white;


        &.crossRight{
          @include rotate(-45deg);
        }

         &.crossLeft{
          @include rotate(45deg);
          position: absolute;
          top: 0;
        }
      }
  }
}

.centerSide {

  width: 20%;
  font-family: 'Architects Daughter', cursive;

  .pickStatus {
    text-align: center;
    margin-top: 25%;

    button {
      @include border-radius(50%,50%);
      position: relative;
      width: 128px; height: 128px;
      background-color:$gold ;
      border: 0;
      cursor: pointer;

      img {
        position: absolute;
        width:75px;
        height:76px;
        top: 30px;
        left: 30px;
        // animation: bounce 0.7s linear 3 backwards;
        // -webkit-animation: bounce 0.7s linear 3 backwards;
      }

      &:hover {
        img {
          //  animation: bounce 0.7s linear 3 backwards;
          // -webkit-animation: bounce 0.7s linear 3 backwards;
        }
      }
    }

    p {
      margin-top: 5%;
      font-size: 1.2vw;
      color: $red;
    }
  }
}

@keyframes bounce{
     from {top: 30px;}
     50%  {top: 15px;}
     to   {top: 30px;}
}

@-webkit-keyframes bounce{
     from {top: 30px;}
     50%  {top: 15px;}
     to   {top: 30px;}
}

.rightSide {
  width: 36%;
  padding: 2%;
  border: 3px solid $gold;
  font-family: 'Architects Daughter', cursive;
  background-color: $white;

  .accroche {
    font-size: 1.5vw;
    line-height: 1.5;
    color: $red;
    text-align: center;
  }

  .name {
    margin: 13% 0 10%;
    font-size: 4.5vw;
    color: #daa520;
    text-align: center;
  }
}

footer {
  display: none;
}



