
/*
.toto {
  @include dib();
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  margin-top: 10px;
  padding-top: 10px;
  border: 1px solid yellow;
  font-size: 10px;
  color: blue;
  background: #ffffff url('img/toto.png') top center no-repeat;
}
*/

@import 
"compass/css3",
"compass/reset";

//@include font-face("la_chatte_a_mamanregular", font-files("fonts/la_chatte_a_maman-webfont.eot", "fonts/la_chatte_a_maman-webfont.svg","fonts/la_chatte_a_maman-webfont.ttf","fonts/la_chatte_a_maman-webfont.woff","fonts/la_chatte_a_maman-webfont.woff2"));
@font-face {
    font-family: 'la_chatte_a_mamanregular';
    src: url('fonts/la_chatte_a_maman-webfont.eot');
    src: url('fonts/la_chatte_a_maman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/la_chatte_a_maman-webfont.woff2') format('woff2'),
         url('fonts/la_chatte_a_maman-webfont.woff') format('woff'),
         url('fonts/la_chatte_a_maman-webfont.ttf') format('truetype'),
         url('fonts/la_chatte_a_maman-webfont.svg#la_chatte_a_mamanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


$gold : #DAA520;
$red : #991903;
$white : #FFFFFF;
$main_padding :10px;

html{
  background-color: $white;
}

header {
  position: relative;
  width: 100%;
  padding: 3% 0%;
  text-align: center;
  background-color: $red;
  border-bottom: 3px solid $gold;

  h1 {
    font-family: "la_chatte_a_mamanregular";
    color: $white;
    font-size: 12vw;
  }
}

.content {
  position: relative;
  width: 95%;
  margin: 0 auto;
  //background-color: $red;

  section {
    display: inline-block;
    *display:inline;zoom:1;
  }
}

.leftSide {
  width: 40%;
  background-color: $red;
}

.centerSide {
  width: 20%;
  background-color: $gold;
}

.rightSide {
  width: 40%;
  background-color: $red;
}




