<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chacun son tour pour noël</title>
    <link rel="stylesheet" href="stylesheets/screen.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width">
  </head>

  <body ng-app="christmas">

    <header>
      <h1>Joyeux Noël</h1>
    </header>

    <div ng-controller="UsersController" class="content">

    <!-- LEFT -->
      <section class="leftSide">
        <!-- Ajouter un nom -->
        <form ng-submit="addUser()" class="new-user" name="userForm" novalidate ng-class="{error: (error_username && userForm.userName.$pristine)}">
          <input type="text" placeholder="écrire un prénom" ng-model="newUser.userName" name='userName' autocomplete='off' required>
          <span class="error" ng-show="(error_username && userForm.userName.$pristine)">Vous devez renseigner un ou plusieurs prénoms</span>
          <input type="submit" class='button' value="Ajouter">
        </form>

        <!--Liste des participants {{user.picked}}-->
        <div class="list">
          <h3>PARTICIPANTS</h3>
          <ul>
            <li ng-repeat="user in users" ng-class="{active: (user.picked)}">
              <p class="removeUser" ng-click='delete_user(user)'><span class="cross crossRight"></span><span class="cross crossLeft"></span></p>
              <p class="userName">{{user.userName}}</p>
            </li>
          </ul>
        </div>
      </section><!--

    CENTER : Call to action

    --><section class="centerSide">
        <div ng-switch on="pick_status" class="pickStatus">
          <div ng-switch-when="pick">
              <button ng-click="pick_random_user()" class="button btn-pick"></button>
              <p>À qui l'tour ?</p>
          </div>
          <div ng-switch-default>
              Fini
          </div>
        </div>
      </section><!--

    RIGHT

    --><section class="rightSide">
        <p>Tu peux ouvrir tes cadeaux ... </p>
        <p class="name">{{user_picked.userName}}</p>
      </section>

    </div>

    <footer>
        <p>Made by François & his future wife.
          <span>He is very proud of her and they love each other. Don't forget their cat, JS, he was their inspiration. He was very hurted by the creator each night ... Don't tell to PETA !!</span>
        </p>
    </footer>

    <!--[if IE]><script src="https://github.com/aFarkas/html5shiv/blob/master/src/html5shiv.js"></script><![endif]-->
    <script src ="bower_components/jquery/dist/jquery.min.js"></script>
    <script src ="bower_components/lodash/dist/lodash.compat.min.js"></script>
    <script src ="bower_components/angular/angular.min.js"></script>
    <script src ="script/app.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57895060-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
