@charset "UTF-8";
/*
.toto {
  @include dib();
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  margin-top: 10px;
  padding-top: 10px;
  border: 1px solid yellow;
  font-size: 10px;
  color: blue;
  background: #ffffff url('img/toto.png') top center no-repeat;
}
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'la_chatte_a_mamanregular';
  src: url("fonts/la_chatte_a_maman-webfont.eot");
  src: url("fonts/la_chatte_a_maman-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/la_chatte_a_maman-webfont.woff2") format("woff2"), url("fonts/la_chatte_a_maman-webfont.woff") format("woff"), url("fonts/la_chatte_a_maman-webfont.ttf") format("truetype"), url("fonts/la_chatte_a_maman-webfont.svg#la_chatte_a_mamanregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  background-color: #FFFFFF;
}
html button:focus {
  outline: 0;
}

header {
  position: relative;
  width: 100%;
  padding: 1% 0%;
  text-align: center;
  background-color: #991903;
  border-bottom: 3px solid #DAA520;
}
header h1 {
  font-family: "la_chatte_a_mamanregular";
  color: #FFFFFF;
  font-size: 7vw;
}

.content {
  position: relative;
  width: 95%;
  margin: 5% auto 0;
}
.content section {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  z-index: 10;
}

.leftSide {
  width: 37%;
  border: 3px solid #DAA520;
  border-bottom: 0;
  font-family: 'Architects Daughter', cursive;
}
.leftSide form {
  position: relative;
}
.leftSide form input[type=text] {
  width: 97%;
  padding: 3% 0 3% 3%;
  border-bottom: 3px solid #DAA520;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  text-transform: capitalize;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.3vw;
  color: #991903;
}
.leftSide form input[type=text]:focus {
  outline: none;
}
.leftSide form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 25%;
  background-color: #DAA520;
  border: none;
  cursor: pointer;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.7vw;
  color: #991903;
}
.leftSide .list {
  background-color: #FFFFFF;
}
.leftSide .list h3 {
  padding: 3%;
  font-size: 1.5vw;
  color: #DAA520;
  background-color: #991903;
}
.leftSide .list li {
  position: relative;
  padding: 2% 2% 2% 15%;
  border-bottom: 3px solid #DAA520;
  background: transparent url("../image/gift_unactive.png") 5% center no-repeat;
}
.leftSide .list li p {
  display: inline-block;
}
.leftSide .list li .userName {
  margin-left: 5%;
  font-size: 1.5vw;
  color: #AAAAAA;
  text-transform: capitalize;
}
.leftSide .list li.active {
  background: transparent url("../image/gift_active.png") 5% center no-repeat;
}
.leftSide .list li.active .userName {
  color: #DAA520;
}
.leftSide .list .removeUser {
  -moz-border-radius: 30px / 30px;
  -webkit-border-radius: 30px 30px;
  border-radius: 30px / 30px;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #991903;
  cursor: pointer;
  vertical-align: bottom;
}
.leftSide .list .cross {
  display: block;
  width: 6px;
  height: 20px;
  margin-top: 5px;
  margin-left: 12px;
  background-color: #FFFFFF;
}
.leftSide .list .cross.crossRight {
  -webkit-transform: rotate(-45deg);
  /* Agrandissement de la photo à l'échelle 1.4 et rotation de -10 degrés */
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.leftSide .list .cross.crossLeft {
  -webkit-transform: rotate(45deg);
  /* Agrandissement de la photo à l'échelle 1.4 et rotation de -10 degrés */
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0;
}

.centerSide {
  width: 20%;
  font-family: 'Architects Daughter', cursive;
}
.centerSide .pickStatus {
  text-align: center;
  margin-top: 25%;
}
.centerSide .pickStatus button {
  -moz-border-radius: 50% / 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% / 50%;
  position: relative;
  width: 128px;
  height: 128px;
  background-color: #DAA520;
  border: 0;
  cursor: pointer;
}
.centerSide .pickStatus button img {
  position: absolute;
  width: 75px;
  height: 76px;
  top: 30px;
  left: 30px;
  animation: bounce 0.7s ease 3s 5 alternate;
}
.centerSide .pickStatus p {
  margin-top: 5%;
  font-size: 1.2vw;
  color: #991903;
}

@keyframes bounce {
  from {
    top: 30px;
  }
  50% {
    top: 10px;
  }
  to {
    top: 30px;
  }
}
.rightSide {
  width: 36%;
  padding: 2%;
  border: 3px solid #DAA520;
  font-family: 'Architects Daughter', cursive;
  background-color: #FFFFFF;
}
.rightSide .accroche {
  font-size: 1.5vw;
  line-height: 1.5;
  color: #991903;
  text-align: center;
}
.rightSide .name {
  margin: 13% 0 10%;
  font-size: 4.5vw;
  color: #daa520;
  text-align: center;
}

footer {
  display: none;
}

/*# sourceMappingURL=screen.css.map */
