@charset "UTF-8";
/*
.toto {
  @include dib();
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  margin-top: 10px;
  padding-top: 10px;
  border: 1px solid yellow;
  font-size: 10px;
  color: blue;
  background: #ffffff url('img/toto.png') top center no-repeat;
}
*/
/* line 5, ../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'la_chatte_a_mamanregular';
  src: url("fonts/la_chatte_a_maman-webfont.eot");
  src: url("fonts/la_chatte_a_maman-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/la_chatte_a_maman-webfont.woff2") format("woff2"), url("fonts/la_chatte_a_maman-webfont.woff") format("woff"), url("fonts/la_chatte_a_maman-webfont.ttf") format("truetype"), url("fonts/la_chatte_a_maman-webfont.svg#la_chatte_a_mamanregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 53, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 59, ../sass/screen.scss */
.center {
  display: block;
  margin: 0 auto;
}

/* line 64, ../sass/screen.scss */
.error {
  display: block;
  background-color: #991903;
  padding: 5px;
  color: #DAA520;
}

/* line 71, ../sass/screen.scss */
html {
  height: 100%;
  background-color: #FFFFFF;
}
/* line 75, ../sass/screen.scss */
html button:focus {
  outline: 0;
}

/* line 80, ../sass/screen.scss */
body {
  min-height: 100%;
  margin-bottom: 10px;
}

/* line 85, ../sass/screen.scss */
header {
  position: relative;
  width: 100%;
  padding: 1% 0%;
  text-align: center;
  background-color: #991903;
  border-bottom: 3px solid #DAA520;
}
/* line 93, ../sass/screen.scss */
header h1 {
  font-family: "la_chatte_a_mamanregular";
  color: #FFFFFF;
  font-size: 7vw;
}

/* line 102, ../sass/screen.scss */
.content {
  position: relative;
  width: 95%;
  margin: 5% auto 0;
}
/* line 107, ../sass/screen.scss */
.content section {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  z-index: 10;
}

/* line 115, ../sass/screen.scss */
.leftSide {
  width: 40%;
  border: 3px solid #DAA520;
  border-bottom: 0;
  font-family: 'Architects Daughter', cursive;
}
/* line 121, ../sass/screen.scss */
.leftSide form {
  position: relative;
}
/* line 124, ../sass/screen.scss */
.leftSide form input[type=text] {
  width: 97%;
  height: 45px;
  padding: 3% 0 3% 3%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  text-transform: capitalize;
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;
  color: #991903;
}
/* line 136, ../sass/screen.scss */
.leftSide form input[type=text]:focus {
  outline: none;
}
/* line 141, ../sass/screen.scss */
.leftSide form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 25%;
  background-color: #DAA520;
  border: none;
  cursor: pointer;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
  color: #991903;
}
/* line 155, ../sass/screen.scss */
.leftSide form .error {
  width: 75%;
}
/* line 160, ../sass/screen.scss */
.leftSide .list {
  background-color: #FFFFFF;
  position: relative;
}
/* line 164, ../sass/screen.scss */
.leftSide .list .reload {
  position: absolute;
  top: 13px;
  right: 10px;
  cursor: pointer;
  width: 40px;
}
/* line 172, ../sass/screen.scss */
.leftSide .list h3 {
  padding: 3%;
  font-size: 22px;
  color: #DAA520;
  background-color: #991903;
  border-top: 3px solid #DAA520;
}
/* line 180, ../sass/screen.scss */
.leftSide .list li {
  position: relative;
  padding: 2% 2% 2% 60px;
  border-bottom: 3px solid #DAA520;
  background: transparent url("../image/gift_unactive.png") 17px center no-repeat;
}
/* line 186, ../sass/screen.scss */
.leftSide .list li p {
  display: inline-block;
}
/* line 190, ../sass/screen.scss */
.leftSide .list li .userName {
  margin-left: 5%;
  margin-bottom: 4px;
  font-size: 20px;
  color: #AAAAAA;
  text-transform: capitalize;
}
/* line 198, ../sass/screen.scss */
.leftSide .list li.active {
  background: transparent url("../image/gift_active.png") 5% center no-repeat;
}
/* line 201, ../sass/screen.scss */
.leftSide .list li.active .userName {
  color: #DAA520;
}
/* line 208, ../sass/screen.scss */
.leftSide .list .removeUser {
  -moz-border-radius: 30px / 30px;
  -webkit-border-radius: 30px 30px;
  border-radius: 30px / 30px;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #991903;
  cursor: pointer;
  vertical-align: bottom;
}
/* line 218, ../sass/screen.scss */
.leftSide .list .cross {
  display: block;
  width: 6px;
  height: 20px;
  margin-top: 5px;
  margin-left: 12px;
  background-color: #FFFFFF;
}
/* line 227, ../sass/screen.scss */
.leftSide .list .cross.crossRight {
  -webkit-transform: rotate(-45deg);
  /* Agrandissement de la photo à l'échelle 1.4 et rotation de -10 degrés */
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 231, ../sass/screen.scss */
.leftSide .list .cross.crossLeft {
  -webkit-transform: rotate(45deg);
  /* Agrandissement de la photo à l'échelle 1.4 et rotation de -10 degrés */
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0;
}

/* line 240, ../sass/screen.scss */
.centerSide {
  width: 20%;
  font-family: 'Architects Daughter', cursive;
}
/* line 245, ../sass/screen.scss */
.centerSide .pickStatus {
  text-align: center;
  margin-top: 25%;
}
/* line 249, ../sass/screen.scss */
.centerSide .pickStatus button {
  -moz-border-radius: 50% / 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% / 50%;
  position: relative;
  width: 128px;
  height: 128px;
  background-color: #DAA520;
  border: 0;
  cursor: pointer;
}
/* line 257, ../sass/screen.scss */
.centerSide .pickStatus button img {
  position: absolute;
  width: 75px;
  height: 76px;
  top: 30px;
  left: 30px;
}
/* line 275, ../sass/screen.scss */
.centerSide .pickStatus p {
  margin-top: 5%;
  font-size: 18px;
  color: #991903;
}

@keyframes bounce {
  from {
    top: 30px;
  }
  50% {
    top: 15px;
  }
  to {
    top: 30px;
  }
}
@-webkit-keyframes bounce {
  from {
    top: 30px;
  }
  50% {
    top: 15px;
  }
  to {
    top: 30px;
  }
}
/* line 295, ../sass/screen.scss */
.rightSide {
  width: 40%;
  padding: 2%;
  border: 3px solid #DAA520;
  font-family: 'Architects Daughter', cursive;
  background-color: #FFFFFF;
}
/* line 302, ../sass/screen.scss */
.rightSide .accroche {
  font-size: 18px;
  line-height: 1.5;
  color: #991903;
  text-align: center;
}
/* line 309, ../sass/screen.scss */
.rightSide .name {
  margin: 13% 0 10%;
  font-size: 26px;
  color: #daa520;
  text-align: center;
}

/* line 317, ../sass/screen.scss */
footer {
  display: none;
}

@media screen and (max-width: 800px) {
  /* line 325, ../sass/screen.scss */
  .leftSide {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 330, ../sass/screen.scss */
  .centerSide {
    width: 30%;
  }
  /* line 333, ../sass/screen.scss */
  .centerSide .pickStatus button {
    border-radius: inherit;
    background-color: inherit;
    width: 100%;
    height: inherit;
  }
  /* line 338, ../sass/screen.scss */
  .centerSide .pickStatus button img {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 0;
    left: 0;
  }

  /* line 348, ../sass/screen.scss */
  .rightSide {
    width: 70%;
  }
}
